
.userEnteredVal {
  text-align: center;
  font-size: 2em;
  height: 40px;
  width: 40px;
  padding: 0px;
  border: 1px solid black;
}

.defaultValue {
  text-align: center;
  font-size: 2em;
  color: blue;
  height: 40px;
  width: 40px;
  padding: 0px;
  border: 1px solid black;
}
